[package]
name = "avro-schema-registry"
version = "0.1.3"
authors = ["Norberto Lopes <nlopes.ml@gmail.com>"]
edition = "2018"
autotests = false

[badges]
travis-ci = { repository = "nlopes/avro-schema-registry", branch = "master" }

[[test]]
name = "integration"
path = "tests/tests.rs"

[[bin]]
name = "avro-schema-registry"
path = "src/bin/main.rs"
test = false
doc = false

[dependencies]
actix = { version="0.8", features=["http"] }
actix-http = "0.2"
actix-rt = "0.2"
actix-service = "1.0"
actix-threadpool = "0.1"
actix-web = "1.0"
actix-web-prom = "0.1"
avro-rs = "0.7"
base64 = "0.11"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["postgres", "chrono", "r2d2"] }
env_logger = "0.7"
failure = "0.1"
failure_derive = "0.1"
futures = "0.1"
json = "0.12"
log = "0.4"
phf = "0.8"
sha2 = "0.8"
sentry = "0.17"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[dev-dependencies]
actix-http-test = "0.2"
speculate = "0.1"
